{
  "image_configuration": {
    "dither_algorithm": "1",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB888",
    "nonopaque_image_format": "ARGB8888",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "a300x50_frame_white.png": {
        "format": "L8_ARGB8888"
      },
      "b150x100bcgrng.png": {
        "format": "L8_ARGB8888",
        "l8_compression": "yes"
      },
      "backgroundgimp.png": {
        "dither_algorithm": "3"
      },
      "bcground30050.png": {
        "format": "L8_ARGB8888"
      },
      "bcgroundslide48075.png": {
        "format": "L8_ARGB8888"
      },
      "bckg330100.png": {
        "format": "L8_ARGB8888"
      },
      "buttonbcg26x40.png": {
        "format": "L8_ARGB8888"
      },
      "circuits_board.png": {
        "dither_algorithm": "0",
        "format": "L8_ARGB8888",
        "l8_compression": "yes"
      },
      "clickZone100px.png": {
        "format": "L8_ARGB8888"
      },
      "clickZone50px.png": {
        "format": "L8_ARGB8888"
      },
      "deleteme.png": {
        "dither_algorithm": "0",
        "format": "L8_ARGB8888",
        "l8_compression": "yes"
      },
      "GRADIENT230X100.png": {
        "format": "L8_ARGB8888"
      },
      "joy.png": {
        "format": "L8_ARGB8888"
      },
      "keypadbgrnd.png": {
        "dither_algorithm": "0",
        "alpha_dither": "yes",
        "format": "L8_ARGB8888",
        "l8_compression": "yes"
      },
      "pope.png": {
        "dither_algorithm": "0"
      },
      "ps4.png": {
        "format": "L8_ARGB8888",
        "l8_compression": "yes"
      },
      "temp260x100.png": {
        "format": "L8_ARGB8888"
      },
      "temp5X100temp.png": {
        "format": "L8_ARGB8888"
      },
      "truckBackground.png": {
        "format": "L8_ARGB8888"
      },
      "tutorImg.png": {
        "dither_algorithm": "3",
        "format": "L8_RGB888",
        "l8_compression": "yes"
      },
      "tutorImg2.png": {
        "dither_algorithm": "3",
        "format": "L8_RGB888",
        "l8_compression": "yes"
      },
      "windowBackground400220.png": {
        "format": "L8_ARGB8888"
      },
      "windowBackground400220_2.png": {
        "format": "L8_ARGB8888"
      },
      "winxd.png": {
        "dither_algorithm": "0",
        "alpha_dither": "no",
        "format": "RGB888"
      },
      "work.png": {
        "dither_algorithm": "1",
        "format": "L8_RGB888",
        "l8_compression": "yes"
      },
      "generated_edited\\e_alternate_theme_images_widgets_slider_horizontal_thin_track_medium.png": {
        "format": "L8_ARGB8888"
      },
      "wifi\\signal_wifi_off_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "wifi\\wifiA.png": {
        "format": "L8_ARGB8888"
      },
      "wifi\\wifiB.png": {
        "format": "L8_ARGB8888"
      },
      "wifi\\wifiC.png": {
        "format": "L8_ARGB8888"
      },
      "wifi\\wifiD.png": {
        "format": "L8_ARGB8888"
      },
      "wifi\\wifiE.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\help_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\notifications_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\outline_3d_rotation_white_24dp.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\outline_battery_alert_white_24dp.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\outline_key_white_24dp.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\outline_local_shipping_white_24dp.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\outline_miscellaneous_services_white_24dp.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\outline_wifi_white_24dp.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\pace_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\radio_button_checked_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\radio_button_unchecked_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\rv_hookup_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\speed_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\swap_vert_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\sync_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\toggle_off_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\toggle_on_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\arrow_back_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\arrow_back_FILL1_wght300_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\arrow_forward_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\arrow_forward_FILL1_wght300_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\auto_transmission_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\backlight_high_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\helicopter_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\help_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\highlight_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\highlight_FILL1_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\home_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888",
        "l8_compression": "yes"
      },
      "materialIcons\\48dp\\mode_fan_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\nearby_error_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\notifications_active_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\notifications_FILL1_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\outline_touch_app_white_48dp.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\power_settings_new_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\radio_button_checked_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\radio_button_unchecked_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\restart_alt_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\rv_hookup_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\rv_hookup_FILL1_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\settings_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\signal_disconnected_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\sim_card_download_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\sos_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\stadia_controller_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\swap_vert_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\swipe_right_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\touch_app_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\treed_rotation_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\unfold_more_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\videocam_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\wb_incandescent_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\wb_incandescent_FILL1_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\wb_sunny_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\wb_sunny_FILL1_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\wb_twilight_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\wb_twilight_FILL0_wght100_GRAD200_opsz48_2.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\wb_twilight_FILL0_wght100_GRAD200_opsz48_3.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\wb_twilight_FILL1_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\wb_twilight_FILL1_wght100_GRAD200_opsz48_2.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\widgets_FILL0_wght100_GRAD200_opsz48.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\notificationIcons\\hdr_auto_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\notificationIcons\\sd_card_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\notificationIcons\\signal_wifi_bad_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\notificationIcons\\treed_rotation_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\notificationIcons\\videocam_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\notificationIcons\\videocam_off_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\24dp\\notificationIcons\\warning_FILL0_wght100_GRAD200_opsz24.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\gearSelector\\firstForward.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\gearSelector\\firstReverse.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\gearSelector\\noGear.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\gearSelector\\secondForward.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\gearSelector\\secondReverse.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\gearSelector\\thirdForward.png": {
        "format": "L8_ARGB8888"
      },
      "materialIcons\\48dp\\gearSelector\\thirdReverse.png": {
        "format": "L8_ARGB8888"
      }
    },
    "l8_compression": "yes"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "24",
    "font_format": "0"
  }
}